Repository FusionAuth/fusionauth-javascript-sdk, pull requests merged in 2024-06, with the labels that each got.

#109 [Angular] SSR support
  packages/core/src/CookieHelpers/CookieHelpers.test.ts
  packages/core/src/CookieHelpers/CookieHelpers.ts
  packages/sdk-angular/.eslintrc.json
  packages/sdk-angular/projects/fusionauth-angular-sdk/src/lib/SSRCookieAdapter.ts
  packages/sdk-angular/projects/fusionauth-angular-sdk/src/lib/core.ts
  packages/sdk-angular/projects/fusionauth-angular-sdk/src/lib/fusion-auth.module.ts
  packages/sdk-angular/projects/fusionauth-angular-sdk/src/lib/fusion-auth.service.spec.ts
  packages/sdk-angular/projects/fusionauth-angular-sdk/src/lib/fusion-auth.service.ts
  packages/sdk-angular/projects/fusionauth-angular-sdk/src/lib/injectionToken.ts
Labels: Angular

#113 Core package should be bundled into Angular dist
  .github/workflows/publish-sdk-angular.yml
  .github/workflows/run-tests.yml
  .gitignore
  README.md
  package.json
  packages/core/package.json
  packages/core/src/SDKCore/SDKCore.test.ts
  packages/core/src/SDKCore/SDKCore.ts
  packages/core/src/UrlHelper/UrlHelperTypes.ts
  packages/core/tsconfig.json
  packages/core/vite.config.ts
  packages/sdk-angular/README.md
  packages/sdk-angular/getSDKCore.js
  packages/sdk-angular/package.json
  packages/sdk-angular/projects/fusionauth-angular-sdk/src/lib/SSRCookieAdapter.ts
  packages/sdk-angular/projects/fusionauth-angular-sdk/src/lib/core.ts
  packages/sdk-angular/projects/fusionauth-angular-sdk/src/lib/fusion-auth.service.spec.ts
  packages/sdk-angular/projects/fusionauth-angular-sdk/src/lib/fusion-auth.service.ts
Labels: documentation, Angular

#115 Angular sdk v1.1.0
  .github/workflows/publish-sdk-angular.yml
  packages/sdk-angular/CHANGES.md
  packages/sdk-angular/docs/classes/FusionAuthLoginButtonComponent.md
  packages/sdk-angular/docs/classes/FusionAuthLogoutButtonComponent.md
  packages/sdk-angular/docs/classes/FusionAuthModule.md
  packages/sdk-angular/docs/classes/FusionAuthRegisterButtonComponent.md
  packages/sdk-angular/docs/classes/FusionAuthService.md
  packages/sdk-angular/docs/interfaces/FusionAuthConfig.md
  packages/sdk-angular/docs/interfaces/UserInfo.md
  packages/sdk-angular/projects/fusionauth-angular-sdk/package.json
Labels: Angular

#119 Add NextJS support
  packages/sdk-react/README.md
  packages/sdk-react/package.json
  packages/sdk-react/src/components/providers/FusionAuthProvider.tsx
  packages/sdk-react/src/components/providers/FusionAuthProviderConfig.ts
  packages/sdk-react/src/components/providers/hooks/index.ts
  packages/sdk-react/src/components/providers/hooks/useCookieAdapter.ts
  packages/sdk-react/vite.config.ts
  yarn.lock
Labels: enhancement, React

#123 Add 'Release Process' section to README
  README.md
Labels: documentation

#130 Add Account Management function/button
  packages/core/src/SDKCore/SDKCore.ts
  packages/core/src/UrlHelper/UrlHelper.test.ts
  packages/core/src/UrlHelper/UrlHelper.ts
  packages/sdk-angular/projects/fusionauth-angular-sdk/src/lib/components/fusionauth-account.button/fusion-auth-account-button.component.html
  packages/sdk-angular/projects/fusionauth-angular-sdk/src/lib/components/fusionauth-account.button/fusion-auth-account-button.component.scss
  packages/sdk-angular/projects/fusionauth-angular-sdk/src/lib/components/fusionauth-account.button/fusion-auth-account-button.component.spec.ts
  packages/sdk-angular/projects/fusionauth-angular-sdk/src/lib/components/fusionauth-account.button/fusion-auth-account-button.component.ts
  packages/sdk-angular/projects/fusionauth-angular-sdk/src/lib/fusion-auth.module.ts
  packages/sdk-angular/projects/fusionauth-angular-sdk/src/lib/fusion-auth.service.ts
  packages/sdk-angular/projects/fusionauth-angular-sdk/src/public-api.ts
  packages/sdk-react/src/components/providers/FusionAuthProvider.test.tsx
  packages/sdk-vue/src/createFusionAuth/createFusionAuth.test.ts
Labels: enhancement, Angular, SDK Core

#132 [React] Account Management Functionality and Button
  packages/sdk-react/src/components/providers/Context.tsx
  packages/sdk-react/src/components/providers/FusionAuthProvider.tsx
  packages/sdk-react/src/components/providers/FusionAuthProviderContext.ts
  packages/sdk-react/src/components/providers/hooks/useRedirecting.ts
  packages/sdk-react/src/components/ui/FusionAuthAccountButton/FusionAuthAccountButton.test.tsx
  packages/sdk-react/src/components/ui/FusionAuthAccountButton/index.tsx
  packages/sdk-react/src/index.ts
  packages/sdk-react/src/testing-tools/mocks/createContextMock.ts
Labels: React

#133 Expose factory from Vue SDK
  packages/sdk-vue/src/FusionAuthVuePlugin.ts
  packages/sdk-vue/src/index.ts
Labels: Vue

#136 Generic/typed UserInfo
  packages/core/src/SDKCore/SDKCore.ts
  packages/sdk-react/src/components/providers/Context.tsx
  packages/sdk-react/src/components/providers/FusionAuthProvider.test.tsx
  packages/sdk-react/src/components/providers/FusionAuthProvider.tsx
  packages/sdk-react/src/components/providers/FusionAuthProviderContext.ts
  packages/sdk-react/src/components/providers/hooks/useUserInfo.ts
Labels: enhancement, React, SDK Core

#131 [Vue] Account Management function/button
  packages/sdk-vue/src/components/FusionAuthAccountButton/FusionAuthAccountButton.vue
  packages/sdk-vue/src/components/index.ts
  packages/sdk-vue/src/createFusionAuth/createFusionAuth.ts
  packages/sdk-vue/src/types.ts
  packages/sdk-vue/web-types.json
Labels: Vue

#141 Flesh out React component documentation
  packages/sdk-react/README.md
  packages/sdk-react/src/components/ui/FusionAuthAccountButton/index.tsx
  packages/sdk-react/src/components/ui/FusionAuthLoginButton/index.tsx
  packages/sdk-react/src/components/ui/FusionAuthLogoutButton/index.tsx
  packages/sdk-react/src/components/ui/FusionAuthRegisterButton/index.tsx
  packages/sdk-react/src/components/ui/RequireAuth/index.tsx
  packages/sdk-react/src/components/ui/Unauthenticated/index.tsx
Labels: documentation, React

#138 Add generic/typed userInfo for FusionAuthService
  packages/sdk-angular/projects/fusionauth-angular-sdk/src/lib/fusion-auth.service.spec.ts
  packages/sdk-angular/projects/fusionauth-angular-sdk/src/lib/fusion-auth.service.ts
Labels: enhancement, Angular

#144 Angular v1.2.0
  packages/sdk-angular/CHANGES.md
  packages/sdk-angular/docs/classes/FusionAuthAccountButtonComponent.md
  packages/sdk-angular/docs/classes/FusionAuthLoginButtonComponent.md
  packages/sdk-angular/docs/classes/FusionAuthLogoutButtonComponent.md
  packages/sdk-angular/docs/classes/FusionAuthModule.md
  packages/sdk-angular/docs/classes/FusionAuthRegisterButtonComponent.md
  packages/sdk-angular/docs/classes/FusionAuthService.md
  packages/sdk-angular/docs/interfaces/FusionAuthConfig.md
  packages/sdk-angular/docs/interfaces/UserInfo.md
  packages/sdk-angular/docs/modules.md
  packages/sdk-angular/projects/fusionauth-angular-sdk/package.json
Labels: Angular

#142 React v2.3.0
  packages/sdk-react/CHANGES.md
  packages/sdk-react/README.md
  packages/sdk-react/docs/README.md
  packages/sdk-react/docs/interfaces/providers_FusionAuthProviderConfig.FusionAuthProviderConfig.md
  packages/sdk-react/docs/interfaces/providers_FusionAuthProviderContext.FusionAuthProviderContext.md
  packages/sdk-react/docs/modules/providers_FusionAuthProvider.md
  packages/sdk-react/docs/modules/ui_FusionAuthLoginButton.md
  packages/sdk-react/docs/modules/ui_FusionAuthLogoutButton.md
  packages/sdk-react/docs/modules/ui_FusionAuthRegisterButton.md
  packages/sdk-react/docs/modules/ui_RequireAuth.md
  packages/sdk-react/docs/modules/ui_Unauthenticated.md
  packages/sdk-react/package.json
  packages/sdk-react/src/components/ui/FusionAuthAccountButton/index.tsx
  packages/sdk-react/src/components/ui/FusionAuthLoginButton/index.tsx
  packages/sdk-react/src/components/ui/FusionAuthLogoutButton/index.tsx
  packages/sdk-react/src/components/ui/FusionAuthRegisterButton/index.tsx
Labels: React

#146 Remove SSR from React README > Known Issues
  packages/sdk-react/README.md
Labels: documentation, React

#143 Add generic Userinfo to createFusionAuth for vue sdk
  packages/sdk-vue/src/FusionAuthVuePlugin.ts
  packages/sdk-vue/src/composables/useFusionAuth.ts
  packages/sdk-vue/src/createFusionAuth/createFusionAuth.test.ts
  packages/sdk-vue/src/createFusionAuth/createFusionAuth.ts
  packages/sdk-vue/src/injectionSymbols.ts
  packages/sdk-vue/src/types.ts
  packages/sdk-vue/src/utilsForTests/index.ts
Labels: Vue

#148 React SDK v.2.3.1 (README patch)
  packages/sdk-react/CHANGES.md
  packages/sdk-react/docs/README.md
  packages/sdk-react/docs/interfaces/providers_FusionAuthProviderConfig.FusionAuthProviderConfig.md
  packages/sdk-react/docs/interfaces/providers_FusionAuthProviderContext.FusionAuthProviderContext.md
  packages/sdk-react/docs/modules/providers_FusionAuthProvider.md
  packages/sdk-react/docs/modules/ui_FusionAuthLoginButton.md
  packages/sdk-react/docs/modules/ui_FusionAuthLogoutButton.md
  packages/sdk-react/docs/modules/ui_FusionAuthRegisterButton.md
  packages/sdk-react/docs/modules/ui_RequireAuth.md
  packages/sdk-react/docs/modules/ui_Unauthenticated.md
  packages/sdk-react/package.json
Labels: React

#150 145 [Vue SDK] - Update tsconfig to include tests
  packages/sdk-vue/src/components/FusionAuthLoginButton/FusionAuthLoginButton.test.ts
  packages/sdk-vue/src/components/FusionAuthLogoutButton/FusionAuthLogoutButton.test.ts
  packages/sdk-vue/src/components/RequireAnonymous/RequireAnonymous.test.ts
  packages/sdk-vue/src/components/RequireAuth/RequireAuth.test.ts
  packages/sdk-vue/src/createFusionAuth/createFusionAuth.test.ts
  packages/sdk-vue/tsconfig.json
Labels: Vue

#149 Vue SDK v1.2.0
  .prettierignore
  packages/core/src/index.ts
  packages/sdk-vue/CHANGES.md
  packages/sdk-vue/README.md
  packages/sdk-vue/docs/README.md
  packages/sdk-vue/docs/interfaces/FusionAuth.md
  packages/sdk-vue/docs/interfaces/FusionAuthConfig.md
  packages/sdk-vue/docs/interfaces/UserInfo.md
  packages/sdk-vue/docs/interfaces/types.FusionAuth.md
  packages/sdk-vue/docs/interfaces/types.FusionAuthConfig.md
  packages/sdk-vue/docs/interfaces/types.UserInfo.md
  packages/sdk-vue/docs/modules.md
  packages/sdk-vue/docs/modules/FusionAuthLoginButton.md
  packages/sdk-vue/docs/modules/composables_useFusionAuth.md
  packages/sdk-vue/docs/modules/types.md
  packages/sdk-vue/package.json
  packages/sdk-vue/src/FusionAuthVuePlugin.ts
  packages/sdk-vue/tsconfig.json
  packages/sdk-vue/web-types.json
Labels: Vue

#152 Include status code with error passed to `onAutoRefreshFailure`
  packages/core/src/SDKCore/SDKCore.ts
  packages/sdk-angular/projects/fusionauth-angular-sdk/src/lib/fusion-auth.service.spec.ts
  packages/sdk-react/src/components/providers/FusionAuthProvider.test.tsx
  packages/sdk-vue/src/createFusionAuth/createFusionAuth.test.ts
Labels: SDK Core

#154 Angular SDK v1.3.0
  packages/sdk-angular/CHANGES.md
  packages/sdk-angular/projects/fusionauth-angular-sdk/package.json
Labels: Angular

#156 Add core/RedirectHelper test coverage
  packages/core/src/RedirectHelper/RedirectHelper.ts
  packages/core/src/SDKCore/SDKCore.test.ts
  packages/core/src/SDKCore/SDKCore.ts
Labels: SDK Core
